 /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *     ___ ___ ___ 												*
 *   / __/ __/ __|												*
 *  | (__\__ \__ \												*
 *  \___|___/___/												*
 *   															*
 *   CSS Stylesheet												*
 *   Copyright 2012-Forever, Akin Ajewole						*
 * 																*
 /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 

/* ////////////////  * * * * *  TYPO EXTENSTION EXPORT THIS PART  //  START  * * * * *  //////////////// */


/* ////////////////  INITIAL TEXT  //////////////// */
#feedback_label {height:32px;border:0px solid #00f;position:absolute;top:0;left:0;}
.feedback_label {color:#999;height:32px;}
.initial_text {margin-right:15px;}

/* ////////////////  FEEDBACK AREA  //////////////// */
.feedback_area {border: 0px dashed #999;}

/* ////////////////  FEEDBACK FORM  //////////////// */
#feedback_form {display:none;height:32px;border:0px solid #00f;position:absolute;top:0;left:0;}
#feedback_form.feedback_form_visible {display:block;visibility:visible;}
.feedback_label_hidden {display:none;}

/* ////////////////  FORM AREA (INNER)  //////////////// */
.form_area {background:#fff;position:relative;height:32px;}

/* ////////////////  SOME CUSTOM FORMATTING  //////////////// */
.hidden {display:none;}
.hidden_button {visibility:hidden;}
.clear_float {clear:both;}
.content_padding {margin:30px;}


/* ////////////////  * * * * *  TYPO EXTENSTION EXPORT THIS PART  //   END  * * * * *  //////////////// */
