/* ////////////////  UI :: BUTTON :: BEIGE //////////////// */
.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #fcf8f2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fcf8f2;
	box-shadow:inset 0px 1px 0px 0px #fcf8f2;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fae4bd), color-stop(1, #eac380) );
	background:-moz-linear-gradient( center top, #fae4bd 5%, #eac380 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae4bd', endColorstr='#eac380');
	background-color:#fae4bd;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cc9f52;
	margin-right:4px;
	cursor:pointer;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eac380), color-stop(1, #fae4bd) );
	background:-moz-linear-gradient( center top, #eac380 5%, #fae4bd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eac380', endColorstr='#fae4bd');
	background-color:#eac380;
}.btn:active {
	position:relative;
	top:1px;
}
/* ////////////////  UI :: FORMS :: BEIGE //////////////// */
input, textarea { border-radius: 3px; padding: 6px;color:#999; }
input:focus { outline: none;
	-webkit-box-shadow: 0 0 5px rgba(33, 187, 225, 1);
	-moz-box-shadow: 0 0 5px rgba(33, 187, 225, 1);
	box-shadow: 0 0 5px rgba(33, 187, 225, 1);
}
input[type="text"], input.text, textarea {	margin-right:4px; width:130px;height:28px; padding: 6px;padding-top:8px; border: 1px solid #dfdfdf; font-family: Helvetica, Arial, sans-serif; font-size: 1.0em; letter-spacing: 0px; 
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(0, 0, 0, 0.075);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(0, 0, 0, 0.075);
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type="text"]:focus, input.text:focus, textarea:focus {
	-webkit-box-shadow: 0 0 0 3px rgba(33, 187, 225, 0.3), inset 0 2px 8px 0 rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 0 0 3px rgba(33, 187, 225, 0.3), inset 0 2px 8px 0 rgba(0, 0, 0, 0.075);
	box-shadow: 0 0 0 3px rgba(33, 187, 225, 0.3), inset 0 2px 8px 0 rgba(0, 0, 0, 0.075);
}
input.error {
	-webkit-box-shadow: 0 0 0 3px red, inset 0 2px 8px 0 rgba(0, 0, 0, 0.075);
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.1); }
.text_warning {color:#ff5959;}




